.result {
	div {
		width: 30px;
		text-align: center;
		padding: 5px 1px;
	}

	// border-right except the last one
	div:not(:last-child) {
		border-right: 1px solid #172b4c;
	}
}

.visibility-hidden {
	visibility: hidden;
}
