div {
    display: inline-block;
    margin: 4px;
    padding: 4px;
    background-color: #DBFFDE;
    text-align: center;
}

svg {
    vertical-align: text-bottom;
}

.icon-light-green {
    background-color: #DBFFDE;
}