<div class="row">
	<div class="col-sm-12">
		<div class="box">
			<div class="box-header hbuilt">
				<div class="row">
					<div class="col-sm-6">
						<p class="mb-0 box-title">
							{{
								isUpdateProforma
									? ("litemore.bdevs.invoices.update" | translate)
									: ("litemore.bdevs.invoices.create" | translate)
							}}
							Proforma Invoice
						</p>
					</div>
					<div class="col-sm-6 text-end">
						<button class="btn btn-xs btn-success" (click)="close()">
							{{
								"litemore.bdevs.invoices.proforma.components.createProforma.close"
									| translate
							}}
						</button>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<app-submit-form
					[formGroup]="createProformaForm"
					(onSubmit)="createProfomaInvoice()">
					<div class="row">
						<div class="form-group col-12">
							<label class="form-label" for="votehead">{{
								"litemore.bdevs.invoices.selectVoteHead" | translate
							}}</label>
							<ng-select
								id="votehead"
								placeholder="Select votehead"
								[items]="voteHeads$ | async"
								[multiple]="true"
								[ngClass]="{
									'is-invalid':
										createProformaForm.isSubmitted && voteHead?.invalid
								}"
								formControlName="voteHead"
								bindLabel="name"
								bindValue="typeId"
								[hideSelected]="true"
								[selectOnTab]="true"
								[closeOnSelect]="true">
								<ng-template
									ng-option-tmp
									let-item="item"
									let-item$="item$"
									let-index="index"
									let-search="searchTerm">
									{{ item.name }}
								</ng-template>
							</ng-select>
							<app-field-errors
								[control]="voteHead!"
								[label]="
									'litemore.bdevs.invoices.proforma.components.createProforma.votehead'
										| translate
								"></app-field-errors>
						</div>
					</div>
					<div class="row">
						<div class="col-12">
							<div [hidden]="!voteHead?.value?.includes(1)">
								<!--Setup section-->
								<div class="form-group row">
									<label for="setup" class="col-sm-3 col-form-label">
										{{
											"litemore.bdevs.invoices.proforma.components.createProforma.setupAndFirstYearSubscriptionAmount"
												| translate
										}}
									</label>
									<div class="col-sm-9">
										<input
											type="number"
											min="0"
											title="{{
												'litemore.bdevs.invoices.proforma.components.createProforma.enterSetupAmount'
													| translate
											}}"
											placeholder="0"
											class="form-control"
											id="setup"
											formControlName="setupGrossAmount"
											[ngClass]="{
												'is-invalid':
													createProformaForm.isSubmitted &&
													setupGrossAmount?.invalid
											}"
											[required]="voteHead?.value?.includes(1)" />
										<app-field-errors
											[control]="setupGrossAmount!"
											[label]="'Setup amount'"></app-field-errors>
									</div>
								</div>

								<!--First Year Subscription-->
								<div *ngIf="!isUpdateProforma" class="form-group row">
									<label for="full-year" class="col-sm-3 col-form-label">
										{{
											"litemore.bdevs.invoices.proforma.components.createProforma.annualSubscriptionAmount"
												| translate
										}}
									</label>
									<div class="col-sm-9">
										<input
											type="number"
											min="0"
											title="{{
												'litemore.bdevs.invoices.proforma.components.createProforma.enterSubscriptionAmount'
													| translate
											}}"
											placeholder="0"
											class="form-control"
											id="full-year"
											formControlName="fullYearSubGross"
											[ngClass]="{
												'is-invalid':
													createProformaForm.isSubmitted &&
													fullYearSubGross?.invalid
											}"
											[required]="voteHead?.value?.includes(1)" />
										<app-field-errors
											[control]="fullYearSubGross!"
											[label]="
												'litemore.bdevs.invoices.proforma.components.createProforma.fullYearGross'
													| translate
											"></app-field-errors>
									</div>
								</div>
							</div>
							<div
								[hidden]="!voteHead?.value?.includes(2)"
								class="form-group row">
								<label class="col-sm-3 col-form-label">
									{{
										"litemore.bdevs.invoices.proforma.components.createProforma.subscriptionRenewalAmount"
											| translate
									}}
								</label>
								<div class="col-sm-9">
									<input
										type="number"
										title="{{
											'litemore.bdevs.invoices.proforma.components.createProforma.renewal'
												| translate
										}}"
										min="0"
										placeholder="0"
										class="form-control"
										formControlName="renewalGrossAmount"
										[ngClass]="{
											'is-invalid':
												createProformaForm.isSubmitted &&
												renewalGrossAmount?.invalid
										}"
										[required]="voteHead?.value?.includes(2)" />
									<app-field-errors
										[control]="renewalGrossAmount!"
										[label]="
											'litemore.bdevs.invoices.proforma.components.createProforma.renewal'
												| translate
										"></app-field-errors>
								</div>
							</div>
							<div
								[hidden]="!voteHead?.value?.includes(3)"
								class="form-group row">
								<label class="col-sm-3 col-form-label">
									{{
										"litemore.bdevs.invoices.proforma.components.createProforma.senderId"
											| translate
									}}
								</label>
								<div class="col-sm-9">
									<input
										type="number"
										min="0"
										title="{{
											'litemore.bdevs.invoices.proforma.components.createProforma.senderIdAmount'
												| translate
										}}"
										placeholder="0"
										class="form-control"
										formControlName="senderIdAmount"
										[ngClass]="{
											'is-invalid':
												createProformaForm.isSubmitted &&
												senderIdAmount?.invalid
										}"
										[required]="voteHead?.value?.includes(3)" />
									<app-field-errors
										[control]="senderIdAmount!"
										[label]="'Sender ID amount'"></app-field-errors>
								</div>
							</div>
							<div
								[hidden]="!voteHead?.value?.includes(4)"
								class="form-group row">
								<label class="col-sm-3 col-form-label">
									{{
										"litemore.bdevs.invoices.proforma.components.createProforma.bulkSms"
											| translate
									}}
								</label>
								<div class="col-sm-9">
									<input
										type="number"
										min="0"
										title="{{
											'litemore.bdevs.invoices.proforma.components.createProforma.bulkSmsAmount'
												| translate
										}}"
										placeholder="0"
										class="form-control"
										formControlName="bulkSmsAmount"
										[ngClass]="{
											'is-invalid':
												createProformaForm.isSubmitted && bulkSmsAmount?.invalid
										}"
										[required]="voteHead?.value?.includes(4)" />
									<app-field-errors
										[control]="bulkSmsAmount!"
										[label]="
											'litemore.bdevs.invoices.proforma.components.createProforma.bulkSmsAmount'
												| translate
										"></app-field-errors>
								</div>
							</div>
							<div
								[hidden]="!voteHead?.value?.includes(5)"
								class="form-group row">
								<label class="col-sm-3 col-form-label">
									{{
										"litemore.bdevs.invoices.proforma.components.createProforma.zerakiTimetable"
											| translate
									}}
								</label>
								<div class="col-sm-9">
									<input
										type="number"
										min="0"
										title="{{
											'litemore.bdevs.invoices.proforma.components.createProforma.zerakiTimetableAmount'
												| translate
										}}"
										placeholder="0"
										class="form-control"
										formControlName="ztAmount"
										[ngClass]="{
											'is-invalid':
												createProformaForm.isSubmitted && ztAmount?.invalid
										}"
										[required]="voteHead?.value?.includes(5)" />
									<app-field-errors
										[control]="ztAmount!"
										[label]="
											'litemore.bdevs.invoices.proforma.components.createProforma.zerakiTimetableAmount'
												| translate
										"></app-field-errors>
								</div>
							</div>
							<div
								[hidden]="!voteHead?.value?.includes(6)"
								class="form-group row">
								<label class="col-sm-3 col-form-label">
									{{
										"litemore.bdevs.invoices.proforma.components.createProforma.zerakiFinance"
											| translate
									}}
								</label>
								<div class="col-sm-9">
									<input
										type="number"
										min="0"
										title="{{
											'litemore.bdevs.invoices.proforma.components.createProforma.zerakiFinanceAmount'
												| translate
										}}"
										placeholder="0"
										class="form-control"
										formControlName="zfAmount"
										[ngClass]="{
											'is-invalid':
												createProformaForm.isSubmitted && zfAmount?.invalid
										}"
										[required]="voteHead?.value?.includes(6)" />
									<app-field-errors
										[control]="zfAmount!"
										[label]="
											'litemore.bdevs.invoices.proforma.components.createProforma.financeAmount'
												| translate
										"></app-field-errors>
								</div>
							</div>
							<div
								[hidden]="!voteHead?.value?.includes(7)"
								class="form-group row">
								<label class="col-sm-3 col-form-label">
									{{
										"litemore.bdevs.invoices.proforma.components.createProforma.zerakiFinanceRenewal"
											| translate
									}}
								</label>
								<div class="col-sm-9">
									<input
										type="number"
										min="0"
										title="{{
											'litemore.bdevs.invoices.proforma.components.createProforma.financeRenewalAmount'
												| translate
										}}"
										placeholder="0"
										class="form-control"
										formControlName="zfRenewal"
										[ngClass]="{
											'is-invalid':
												createProformaForm.isSubmitted && zfRenewal?.invalid
										}"
										[required]="voteHead?.value?.includes(7)" />
									<app-field-errors
										[control]="zfRenewal!"
										[label]="
											'litemore.bdevs.invoices.proforma.components.createProforma.financeRenewalAmount'
												| translate
										"></app-field-errors>
								</div>
							</div>
							<div *ngIf="!isUpdateProforma" class="form-group">
								<label class="form-label">
									{{
										"litemore.bdevs.invoices.proforma.components.createProforma.setProformaDueDate"
											| translate
									}}
								</label>
								<input
									type="date"
									title="Proforma Due Date"
									placeholder="{{
										'litemore.bdevs.invoices.proforma.components.createProforma.proformaDueDate'
											| translate
									}}"
									class="form-control"
									formControlName="profomaDueDate"
									[ngClass]="{
										'is-invalid':
											createProformaForm.isSubmitted && profomaDueDate?.invalid
									}"
									required />
								<app-field-errors
									[control]="profomaDueDate!"
									[label]="
										'litemore.bdevs.invoices.proforma.components.createProforma.proformaDueDate'
											| translate
									"></app-field-errors>
							</div>
							<ng-container
								*appLitemoreUserAccess="
									[LitemoreUserRole.BDEV];
									hideComponent: true
								">
								<div *ngIf="isUpdateProforma" class="form-group">
									<label class="form-label">
										{{
											"litemore.bdevs.invoices.proforma.components.createProforma.extensionDate"
												| translate
										}}
									</label>
									<input
										type="date"
										title="{{
											'litemore.bdevs.invoices.proforma.components.createProforma.extensionDate'
												| translate
										}}"
										placeholder="{{
											'litemore.bdevs.invoices.proforma.components.createProforma.extensionDate'
												| translate
										}}"
										class="form-control"
										formControlName="extensionDate"
										[ngClass]="{
											'is-invalid':
												createProformaForm.isSubmitted && extensionDate?.invalid
										}" />
									<app-field-errors
										[control]="extensionDate!"
										[label]="
											'litemore.bdevs.invoices.proforma.components.createProforma.extensionDate'
												| translate
										"></app-field-errors>
								</div>
							</ng-container>
						</div>
					</div>
					<div class="row">
						<div class="form-group col-12 mb-0">
							<span class="text-start badge badge-warning">
								{{
									"litemore.bdevs.invoices.proforma.components.createProforma.gross"
										| translate
								}}:- {{ grossAmount || 0 | localCurrency | async }}
							</span>
							<span class="pull-right">
								<button type="submit" class="btn btn-sm btn-success">
									{{
										isUpdateProforma
											? ("litemore.bdevs.invoices.update" | translate)
											: ("litemore.bdevs.invoices.create" | translate)
									}}
								</button>
							</span>
						</div>
					</div>
				</app-submit-form>
			</div>
		</div>
	</div>
</div>
