<div class="row mt-20">
	<h5 class="fw-bolder text-uppercase" style="margin-left: -12px">{{ 'printouts.studentReport.keyWords' | translate }}</h5>
	<div class="table-responsive">
		<table class="table table-bordered print-table mt-2" style="font-size: 13px">
			<tbody style="color: black">
			<tr>
				<td class="no-wrap px-2 fw-bolder">{{ 'printouts.studentReport.keyWordsList.competency' | translate }}</td>
				<td>{{ 'printouts.studentReport.keyWordsList.competencyDesc' | translate }}</td>
			</tr>
			<tr>
				<td class="no-wrap px-2 fw-bolder">{{ 'printouts.studentReport.descriptor' | translate }}</td>
				<td>{{ 'printouts.studentReport.keyWordsList.descriptorDesc' | translate }}</td>
			</tr>
			<tr>
				<td class="no-wrap px-2 fw-bolder">{{ 'printouts.studentReport.genericSkills' | translate }}</td>
				<td>{{ 'printouts.studentReport.keyWordsList.genericSkillsDesc' | translate }}</td>
			</tr>
			<tr>
				<td class="no-wrap px-2 fw-bolder">{{ 'printouts.studentReport.identifier' | translate }}</td>
				<td>{{ 'printouts.studentReport.keyWordsList.identifierDesc' | translate }}</td>
			</tr>
			<tr>
				<td class="no-wrap px-2 fw-bolder">{{ 'printouts.studentReport.score' | translate }}</td>
				<td>{{ 'printouts.studentReport.keyWordsList.scoreDesc' | translate }}</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
