<div class="row mt-3">
	<h5 class="text-uppercase fw-bolder">{{ 'printouts.studentReport.activitiesAndValues' | translate }}</h5>
	<div class="table-responsive fw-bold">
		<table class="table table-bordered print-table fw-bold" style="font-size: 13px">
			<tbody>
			<tr *ngFor="let studActivity of studentActivities">
				<td style="width: 20%">
					<div class="text-center text-uppercase">{{ studActivity.activityName }}</div>
				</td>
				<td colspan="2" class="p-0 competency-areas" style="vertical-align: unset">
					<div *ngFor="let activity of studActivity.activities">
						<div class="mb-3 px-2">{{ activity.description }}</div>
						<div class="d-flex flex-row justify-content-between px-2">
							<div>{{ 'common.name' | translate }}: <span class="text-uppercase fw-bolder">{{ activity.createdBy }}</span></div>
							<div>{{ 'common.date' | translate }}: <span class="text-uppercase fw-bolder"> {{ activity.createdOn }}</span></div>
						</div>
					</div>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
