<div *ngIf="!aboutPage" style="overflow: hidden;height: 100vh;">
    <!-- <div class="color-line"></div> -->
    <div class="splashCentre col-12">
        <div class="col-12 col-md-6">
            <div class="rounded10 flex-fill">
                <div class="text-center content-top-agile px-20">
                    <div class="text-center" style="padding-top: 1rem;">
                        <a href='https://play.google.com/store/apps/details?id=ke.co.litemore.zanalytics&hl=en&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                            <img src='assets/img/ZA_bg.png' alt='Get it on Google Play'  width="auto" height="150" style="padding: 0"/>
                        </a>
                    </div>
                </div>
                <div class="content-top-agile px-20 text-start text-success">
                    <h3 style="margin-bottom: 1.5rem;">{{ "homePage.login.button" | translate }}</h3>
                </div>
                <div class="p-20 pt-0">
                    <app-new-mobile></app-new-mobile>

                    <!-- <div class="text-center mt-40 ">
                        <p class="text-dark heading-1">
                          <span>
                            Don't have an account? <a class="text-success" (click)="register()">{{ "homePage.register.button" | translate }}</a>
                          </span>
                        </p>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="aboutPage" style="height: 100vh;">
    <app-app-info></app-app-info>
</div>
