.swal2-styled.swal2-cancel {
    background-color: #fff !important;
    border: 1px solid #43ab49 !important;
    color: #43ab49 !important;
    min-width: 100px;
    
}

.swal2-styled.swal2-cancel,.swal2-styled.swal2-confirm  {
width: 100%;
}
    .swal2-styled.swal2-cancel:hover {
    background-color: #fff !important;
    border: 1px solid #43ab49 !important;
    color: #43ab49 !important;
    min-width: 100px;
    box-shadow: none;
}
label{
    font-weight: bold;
}
.theme-primary .bg-success-light {
    background-color: #d1f5f0 !important;
    color: #43ab49;
}