<app-change-password-top-nav></app-change-password-top-nav>
<section class="mt-config content">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-xl-7 mx-auto">
            <div class="box" style="border-radius: 0;">
                <div *ngIf="showSuccess && !reset_password_success" class="box-header bg-info-light fw-700" style="border-radius: 0;">
                    <i class="fa fa-info-circle"></i>
                    {{ "changePassword.resetCodeSent" | translate }}
                </div>
                <div *ngIf="reset_password_success" class="box-header bg-info-light fw-700" style="border-radius: 0;">
                    <i class="fa fa-info-circle"></i> {{request_code_success_msg}}
                </div>
                <div class="box-body" *ngIf="!reset_password_success">
                    <div *ngIf="showForm; then showFormDialog else showQuestionDialog"></div>
                    <ng-template #showFormDialog>

                        <form #f="ngForm" (ngSubmit)="changePassword(f)" class="row">
                            <div class="form-group text-capitalize col-sm-6">
                                <label for="" class="form-label">{{ "changePassword.form.newPassword" | translate }}</label>
                                <input type="password" ngModel required name="password" #pass1="ngModel"
                                    class="form-control" [ngClass]="{'is-invalid':(pass1.invalid && f.submitted)}">
                                <div class="text-danger" *ngIf="pass1.invalid && f.submitted">
                                    {{ "changePassword.formErrors.requiredField" | translate }}
                                </div>
                            </div>
                            <div class="form-group text-capitalize col-sm-6">
                                <label for="" class="form-label">{{ "changePassword.form.confirmPassword" | translate }}</label>
                                <input type="password" ngModel required name="password2" #pass2="ngModel" class="form-control"
                                    [ngClass]="{'is-invalid':(pass2.invalid && f.submitted)}">
                                <div class="text-danger" *ngIf="pass2.invalid && f.submitted">
                                    {{ "changePassword.formErrors.requiredField" | translate }}
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label for="" class="form-label">{{ "changePassword.form.resetCode" | translate }}<span class="text-danger">*</span></label>
                                <input type="text" ngModel #code="ngModel" required name="code" class="form-control"
                                    [ngClass]="{'is-invalid':(code.invalid && f.submitted)}">
                                <div class="text-danger" *ngIf="code.invalid && f.submitted">
                                    {{ "changePassword.formErrors.requiredField" | translate }}
                                </div>
                            </div>
                            <div class="form-group col-sm-12 mb-0">
                                <div style="display:flex;justify-content:space-between">
                                    <button (click)="showForm = false" type="button" class="btn btn-sm btn-secondary">
                                      {{ "changePassword.form.btnBack" | translate }}
                                    </button>
                                    <button class="btn btn-sm btn-success">
                                      {{ "changePassword.form.btnSubmit" | translate }}
                                    </button>
                                </div>
                            </div>
                        </form>

                    </ng-template>
                    <ng-template #showQuestionDialog>
                        <p class="fw-600">{{ "changePassword.resetCodeConfirmation.title" | translate }}</p>
                        <div class="row">
                            <div class="col-6">
                                <button (click)="requestResetCode()"
                                    class="btn btn-outline btn-outline-success swal2-cancel swal2-styled btn-block">{{ "changePassword.resetCodeConfirmation.no" | translate }}</button>
                            </div>
                            <div class="col-6">
                                <button (click)="showForm = true"
                                    class="btn btn-success swal2-confirm swal2-styled btn-block">{{ "changePassword.resetCodeConfirmation.yes" | translate }}</button>
                            </div>
                        </div>
                    </ng-template>
                </div>
                <div *ngIf="error_reset && !reset_password_success" class="box-header bg-danger-light fw-700" style="border-radius: 0;">
                    <i class="fa fa-warning"></i> {{error_reset_msg}}
                </div>
            </div>
        </div>
    </div>

</section>
