.print-text-white {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0 0 0 #fff;
}

table{
    text-transform: capitalize !important;
}
table th,table td{
    padding: 3px;
    font-size: 13pt;
  }
.font-bold{
    font-weight: 600;
}