<!-- Main content -->
<section class="content mt-config">
    <div class="box">
        <div class="box-header">
            <h4>{{'litemore.bdevs.users.components.list.userManagement'|translate}}</h4>
            <ul class="box-controls pull-right">
                <li>
                    <button class="btn btn-success waves-effect waves-light mx-1" data-bs-toggle="modal"
                    data-bs-target="#add-user">
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                class="bi bi-plus" viewBox="0 0 16 16">
                                <path
                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg>
                        </i>
						{{'litemore.bdevs.users.components.list.user'|translate}}
                    </button>
                </li>
                <li>
                    <button class="btn btn-success waves-effect waves-light mx-1">
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor"
                                class="bi bi-plus" viewBox="0 0 16 16">
                                <path
                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg>
                        </i>
						{{'litemore.bdevs.users.components.list.region'|translate}}
                    </button>
                </li>
            </ul>
        </div>
        <div class="box-body">
            <table class="table table-sm table-striped table-bordered mb-0">
                <thead>
                    <tr>
                        <th>{{'litemore.bdevs.users.components.list.name'|translate}}</th>
                        <th>{{'litemore.bdevs.users.components.list.region'|translate}}</th>
                        <th>{{'litemore.bdevs.users.components.list.roles'|translate}}</th>
                        <th class="text-center">{{ 'classes.manage.table.action' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let m of members;">
                        <th>{{ m.name }}</th>
                        <td *ngIf="m.region">
                            <span>{{ m.region.name }}</span>
                            <span class="pull-right">
                                <a (click)="unassignRegion(m.userId)" class="text-danger" style="cursor: pointer;">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash" viewBox="0 0 16 16">
                                        <path
                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                        <path fill-rule="evenodd"
                                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg>
                                </a>

                            </span>
                        </td>
                        <td *ngIf="!m.region">
                            <ng-select [notFoundText]="'common.noItemsFound' | translate" size="1"
                                (change)="assignRegion(m.userId, $event)" [items]="regions$| async"
                                [closeOnSelect]="true" [searchable]="true" appendTo="body" bindLabel="name"
                                placeholder="{{ 'common.selectSupervisor' | translate }}">
                            </ng-select>
                        </td>
                        <td>
                            <span *ngIf="m.isBDevManager" class="badge badge-secondary mx-1">{{'litemore.bdevs.users.components.list.bdevMsnager'|translate}}</span>
                            <span *ngIf="m.isCxTeamMember" class="badge badge-secondary mx-1">{{'litemore.bdevs.users.components.list.customerExperience'|translate}}</span>
                            <span *ngIf="m.isRegionalManager" class="badge badge-secondary mx-1">{{'litemore.bdevs.users.components.list.regionalManager'|translate}}</span>
                            <span *ngIf="m.isRelationshipManager" class="badge badge-secondary mx-1">{{'litemore.bdevs.users.components.list.relationshipManager'|translate}}
                                </span>
                            <span *ngIf="m.isRevenueOfficer" class="badge badge-secondary mx-1">{{'litemore.bdevs.users.components.list.revenueOfficer'|translate}}</span>
                        </td>
                        <td class="text-center">
                            <button type="button" class="waves-effect waves-light btn btn-success btn-sm mx-1">
                                <i class="bi bi-pen"></i>
                            </button>
                            <button type="button" class="waves-effect waves-light btn btn-danger btn-sm">
                                <i class="bi bi-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<!--==========================
  BOOTSTRAP 5 MODAL EVENT ADD DASHBOARD
==============================-->
<!-- Modal Add Event -->
<div class="modal fade none-border" id="add-user">
    <div class="modal-dialog">
        <app-add></app-add>
    </div>
</div>
<!-- END MODAL -->
