.badge-info {
    background-color: #2ea5de;
    color: #ffffff; }

.badge-warning {
    background-color: #ff9920;
    color: #ffffff; }

.badge-success {
    background-color: #43ab49;
    color: #ffffff; }