<!-- Classes Top Nav -->
<app-classes-top-nav></app-classes-top-nav>

<div class="content">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <button class="btn btn-sm btn-secondary pull-right mb-3" (click)="navigateBack()">
        <i class="fa fa-arrow-left"></i>
        {{ 'classes.commonAttr.back' | translate }}
      </button>
      <div class="box">
        <div class="h4 fw-bold box-header">
          {{ topicName }}
          <button type="button" class="btn btn-primary pull-right btn-sm open-modal" data-bs-toggle="modal" data-bs-target="#modal-center">
            <i class="fa fa-plus"></i>
            {{ 'classes.manageSubject.addNew' | translate }}
          </button>
        </div>
        <div class="box-body">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
              <tr>
                <th>#</th>
                <th>{{ 'classes.commonAttr.competencies' | translate }}</th>
                <th>{{ 'classes.commonAttr.action' | translate }}</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngIf="topic && !topic.competencies.length">
                <td colspan="3" class="text-warning text-center p-2">
                  {{ 'classes.manageSubject.noTopics' | translate }}
                </td>
              </tr>
              <tr *ngFor="let competency of competencies; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ competency.name }}</td>
                <td>
                  <div class="d-flex flex-row">
                    <button class="btn btn-info-light me-2 btn-sm" (click)="editCompetency(competency)">
                      <i class="fa fa-pencil"></i>
                    </button>
                    <button class="btn btn-danger-light btn-sm" (click)="confirmDelete(competency.competencyAreaId)">
                      <i class="fa fa-trash-o"></i>
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal center-modal fade" id="modal-center" tabindex="-1">
  <div class="modal-dialog">
    <form [formGroup]="newCompetencyForm" (ngSubmit)="addNewCompetency()">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ 'classes.manageSubject.newCompetency' | translate }}</h5>
          <button type="button" class="btn-close" (click)="closeModal()" aria-label="Close"></button>
          <button type="button" hidden class="modal-dismiss" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="competency" class="mb-2">{{ 'classes.manageSubject.competencyName' | translate }}</label>
            <input type="text"
                   class="form-control"
                   formControlName="name"
                   id="competency"
                   [ngClass]="{'is-invalid': submitted && f['name'].errors}"
                   [placeholder]="'classes.manageSubject.competencyName' | translate">
            <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
              <div *ngIf="f['name'].errors['required']">{{ 'classes.manageSubject.competencyNameError' | translate }}</div>
            </div>
          </div>
        </div>
        <div class="modal-footer modal-footer-uniform">
          <button type="button" class="btn btn-danger btn-sm" (click)="closeModal()">{{ 'classes.commonAttr.close' | translate }}</button>
          <button type="submit" class="btn btn-primary float-end btn-sm">{{ 'classes.commonAttr.saveChanges' | translate }}</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- /.modal -->
