.main-sidebar.offline {
  padding-top: 107px !important;
}

@media (min-width: 768px) {
  .mt-topNav.offline  div.top-wrapper {
    margin-top: 80px !important;
  }
}

@media (max-width: 767.97px) {
  .mt-topNav.offline  div.top-wrapper {
    margin-top: 72px !important;
  }

  .mt-topNav.offline section.mt-config, .mt-topNav div.mt-config {
    margin-top: 57px !important;
  }
}

@media (max-width: 991.97px){
  .mt-topNav.offline section.mt-config, .mt-topNav div.mt-config {
    margin-top: 80px !important;
  }
}
@media (min-width: 992px) {
  .mt-topNav.offline section.mt-config, .mt-topNav div.mt-config {
    margin-top: 77px !important;
  }
}

.mt-topNav.offline div.content{
  margin-top: 80px !important;
}
