<header class="main-header">
    <div class="d-flex align-items-center logo-box justify-content-center hidden-sm-down">
      <!-- <a href="#" class="waves-effect waves-light nav-link d-none d-md-inline-block mx-10 push-btn bg-transparent" data-toggle="push-menu" role="button">
        <span class="icon-Align-left"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
      </a>	 -->
      <!-- Logo -->
      <a [routerLink]="['/main/dashboard/global']" class="logo">
        <!-- logo-->
        <div class="logo-lg">
          <span class="light-logo"><img src="../../../../../assets/img/logos/zeraki_analytics_logo.svg" width="120" height="50" alt="logo"></span>
          <span class="dark-logo"><img src="../../../../../assets/img/logos/zeraki_analytics_logo.svg" width="150" height="100" alt="logo"></span>
        </div>
      </a>
    </div>
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <div class="app-menu">
        <ul class="header-megamenu nav">
          <li class="btn-group nav-item d-xl-none">
            <a href="#" class="waves-effect waves-light nav-link push-btn d-none" data-toggle="push-menu" role="button">
              <span class="icon-Align-left"><span class="path1"></span><span class="path2"></span><span class="path3"></span></span>
            </a>
            <div class="text-dark nav-link text-start pb-2" title="School">
              <ng-container *ngIf="((userInfo$ | async)?.schoolname_short && (userInfo$ | async)?.schoolname_short?.length! <= 15) else zerakiLogo">
                <span class="fs-14 text-wrap fw-bolder"
                style="color: #085f00 !important;">{{ "layout.top.userInfo.schoolname_short" | translate:
                {schoolname_short: (userInfo$ | async)?.schoolname_short} }}</span>
              </ng-container>

              <ng-template #zerakiLogo>
                <span class="fs-14 text-wrap fw-bolder"
                title="Home">
                <img src="../../../assets/img/slogo.png" width="30" height="30" alt="logo">
              </span>
              </ng-template>
            </div>
          </li>

          <li class="btn-group nav-item d-none d-xl-inline-block">
            <!-- <div class="waves-effect waves-light nav-link fs-18 text-dark" title="Chat">
              <img src="../../../../../assets/img/ahs.png" width="150" height="50" alt="logo">
            </div> -->
            <ng-container *ngIf="!(userInfo$ | async)?.schoolname else displayFullName">
              <app-loader-div [height]="30"></app-loader-div>
            </ng-container>
            <ng-template #displayFullName>
              <div class="text-dark nav-link text-center" title="School">
                <span class="fs-16 fw-bolder" style="color: #085f00 !important;">{{ "layout.top.userInfo.schoolName" | translate: {schoolname: (userInfo$ | async)?.schoolname} }}</span>
              </div>
            </ng-template>
          </li>
        </ul>
      </div>

      <div class="navbar-custom-menu r-side">
        <ul class="nav navbar-nav">
          <!-- language selection -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fs-16 d-none d-sm-inline-block" style="min-width: 120px;" href="#" id="navbarLanguageSelectionDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img
                [alt]="'common.languages.' + currentLanguage?.label?.toLowerCase() | translate"
                [src]="'/assets/img/country-flags/' + (currentLanguage?.flagCode) + '.svg'"
                style="height: 10px; transform: translateY(-2px);"
              />
              {{ 'common.languages.' + currentLanguage?.label?.toLowerCase() | translate }}
            </a>

            <ul class="dropdown-menu animated fadeIn rounded" aria-labelledby="navbarLanguageSelectionDropdown">
              <ng-container *ngFor="let language of languages">
                <li style="cursor: pointer;">
                  <a class="dropdown-item my-0 lang" [style.font-weight]="(currentLanguage?.code === language.code) ? 'bold' : 'normal'" (click)="switchLanguage(language.code)">
                    <img
                      [alt]="'common.languages.' + currentLanguage?.label?.toLowerCase() | translate"
                      [src]="'/assets/img/country-flags/' + (language?.flagCode) + '.svg'"
                      style="height: 10px;"/>
                    {{ 'common.languages.' + language.label.toLowerCase() | translate }}
                  </a>
                </li>
              </ng-container>
            </ul>
          </li>

          <!-- <li class="btn-group nav-item d-lg-inline-flex d-none">
            <a href="#" data-provide="fullscreen" class="waves-effect waves-light nav-link full-screen" title="Full Screen">
              <i class="icon-Expand-arrows"><span class="path1"></span><span class="path2"></span></i>
            </a>
          </li>	   -->


          <!-- Notifications -->
          <li class="dropdown notifications-menu" *ngIf="!(userRoles$ | async)?.isStudent && hasNotifications">
            <a href="#" class="dropdown-toggle position-relative" data-bs-toggle="dropdown" title="Messages">

              <i class="icon-Mail"></i>
              <span *ngIf="notsObj?.notificationCount > 0" class="position-absolute top-0 start-90 translate-middle badge rounded-pill bg-danger fs-10 hidden-sm-down">
                <span *ngIf="notsObj?.notificationCount > 100">100+</span>
                <span *ngIf="notsObj?.notificationCount <= 100">{{ notsObj?.notificationCount }}</span>
                <span class="visually-hidden">{{ 'layout.top.unreadReadMessages' | translate }}</span>
              </span>
              <span class="position-absolute top-0 start-100 translate-middle p-1-5 bg-danger border border-light rounded-circle hidden-md-up">

                <span class="visually-hidden">{{ 'layout.top.unreadReadMessages' | translate }}</span>
              </span>
            </a>
            <ul class="dropdown-menu animated bounceIn bg-active">
              <li class="header">
                <div class="p-5">
                  <div class="flexbox">
                    <div>
                      <h4 class="mb-0 mt-0">{{ 'layout.top.messages' | translate }}</h4>
                    </div>
                    <div>
                      <a (click)="markAll()" class="text-danger">{{ 'layout.top.clearAll' | translate }}</a>
                    </div>
                  </div>
                </div>
              </li>

              <li *ngIf="notsObj?.notificationCount">
              <!-- inner menu: contains the actual data -->
                <ul class="menu sm-scroll">
                  <li *ngFor="let notification of notsObj?.messagesToDisplay">
                    <a (click)="goToMessage(notification)" style="cursor: pointer;">
                      <i class="fa fa-user text-primary"></i> {{ 'layout.top.notTitle' | translate: {title: notification.title} }}.
                    </a>
                  </li>
                </ul>
              </li>
              <li *ngIf="notsObj?.notificationCount == 0" class="text-dark text-center">{{ 'layout.top.noUnreadMessages' | translate }}</li>
              <li class="footer bg-secondary-light">
                <a  [routerLink]="['/main/messages']">{{ 'layout.top.viewAll' | translate }}</a>
              </li>
            </ul>
          </li>

          <!-- Dark mode-->
          <!-- <li class="user-menu theme-toggle">
            <a href="#" class="waves-effect waves-light dropdown-toggle"  title="Theme">
              <i class="icon-Moon"><span class="path1"></span><span class="path2"></span></i>
            </a>
          </li>	 -->



          <li class="dropdown profile-menu rounded-pill px-2" tabindex="1" [ngClass]="(userRoles$ | async)?.isStudent? 'm-0': ''">
            <ul class="d-flex menu-ul ps-1 dropdown-toggle" data-bs-toggle="dropdown" title="LitemoreUser">
              <ng-container *ngIf="!(userInfo$ | async) else showUserName">
                <app-loader-div style="width: 3em;" [height]="40"></app-loader-div>
              </ng-container>
              <ng-template #showUserName>
                <li class="me-10 d-none d-md-inline-block pt-1">
                  <dl class="dl-horizontal">
                    <dt>{{ (userInfo$ | async)?.name }}</dt>
                    <!-- <dt class="fw-normal">shawn.shivere@zeraki.co.ke</dt> -->
                    <dt class="fw-normal">{{ (userInfo$ | async)?.email }}</dt>
                  </dl>
                </li>
                <li class="pad-img">
                  <img class="avatar-md rounded-circle hidden-md-up" src='{{userDp}}' 
                    (error)="userDp = 'assets/img/avatar/p_avatar_blue.png'" alt="">
                  <img class="avatar rounded-circle hidden-sm-down" src="{{userDp}}" 
                    (error)="userDp = 'assets/img/avatar/p_avatar_blue.png'" alt="">
                  <!-- <img class="rounded-circle" width="40" height="40" src="../../../assets/img/avatar/pi2.jpg" alt=""> -->
                  <!-- <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                  </svg> -->
                </li>
              </ng-template>
            </ul>
            <ul class="dropdown-menu dropdown-menu1 animated flipInX positioned bg-active rounded">
              <ng-container *ngIf="hasSettings else showList">
                <li class="user-body">
                  <a class="dropdown-item" (click)="logout()"><i class="ti-lock text-muted me-2 text-success"></i>{{ 'layout.top.logout' | translate }}</a>
                </li>
              </ng-container>
              <ng-template #showList>
                <li class="user-body" *ngIf="!(userRoles$ | async)?.isStudent">
                  <a class="dropdown-item" [routerLink]="['/main/settings/my-prof']"><i class="ti-user text-muted me-2 text-success"></i>{{ 'layout.top.profile' | translate }}</a>
                  <a class="dropdown-item" [routerLink]="['/main/change-password']"><i class="ti-key text-muted me-2 text-success"></i>{{ 'layout.top.changePassword' | translate }}</a>
                  <a class="dropdown-item" [routerLink]="['/main/settings']"><i class="ti-settings text-muted me-2 text-success"></i>{{ 'layout.top.settings' | translate }}</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="logout()"><i class="ti-lock text-muted me-2 text-success"></i>{{ 'layout.top.logout' | translate }}</a>
                </li>
                <li class="user-body" *ngIf="(userRoles$ | async)?.isStudent">
                  <a class="dropdown-item" [routerLink]="['/main/students/prof',(userInfo$ | async)?.userid]"><i class="ti-user text-muted me-2 text-success"></i>{{ 'layout.top.profile' | translate }}</a>
                  <a class="dropdown-item" [routerLink]="['/main/change-password']"><i class="ti-key text-muted me-2 text-success"></i>{{ 'layout.top.changePassword' | translate }}</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" (click)="logout()"><i class="ti-lock text-muted me-2 text-success"></i>{{ 'layout.top.logout' | translate }}</a>
                </li>
              </ng-template>          
            </ul>
          </li>


          <!-- LitemoreUser Account 2-->
          <!-- <li class="btn-group d-lg-inline-flex">
            <div class="app-menu">
              <div class="search-bx mx-5">
                <form>
                  <div class="input-group">
                    <input type="search" class="form-control" placeholder="Search Student" aria-label="Search" aria-describedby="button-addon2">
                    <div class="input-group-append">
                    <button class="btn" type="submit" id="button-addon3"><i class="ti-search"></i></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </li> -->

        </ul>
        <!-- <span>
          <li>
            <a>
              <div class="d-flex justify-content-start align-items-center">
                <div>
                  <h6 class="mb-0">Natasha Clark</h6>
                  <small>Web Developrt</small>
                </div>
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
                    <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                  </svg>
                </div>
              </div>
            </a>
          </li>
        </span> -->
      </div>

      <!-- <div class="navbar-custom-menu r-side">
        <ul class="nav navbar-nav">
          <li>
            <dl class="dl-horizontal">
              <dt>Shivere Shawn</dt>
              <dt>shawn.shivere@zeraki.co.ke</dt>
            </dl>
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            </svg>
          </li>
        </ul>
      </div> -->
    </nav>
  </header>
  <!-- Student Top Nav -->
  <!-- <app-students-top-nav></app-students-top-nav> -->

