<div class="row mt-3">
    <div class="col-12">
        <span class="text-uppercase">
            {{ 'printouts.tzReportForm.parts.d' | translate }}: {{
            'common.schoolEvents' | translate }}
        </span>
    </div>

    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-bordered table-condensed print-table fw-bold"
                style="padding-bottom: 0px;margin-bottom: 0px;border-collapse: collapse;border: 2px solid black!important;">
                <thead>
                    <tr>
                        <th class="td-fit-nowrap" style="border-right: 2px solid black!important">
                            <span class="text-uppercase zreport-table-contents">
                                {{ 'common.graduation' | translate }}
                            </span>
                        </th>
                        <th class="td-fit-nowrap" style="border-right: 2px solid black!important">
                            <span class="text-uppercase zreport-table-contents">
                                F4
                            </span>
                        </th>
                        <th class="td-fit-nowrap" style="border-right: 2px solid black!important">
                            <span class="text-uppercase zreport-table-contents">
                                F6
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="td-fit-nowrap" style="border: 2px solid black!important">
                            <span class="text-uppercase zreport-table-contents">
                                {{ 'common.date' | translate }}
                            </span>
                        </td>
                        <td class="td-fit-nowrap" style="border: 2px solid black!important">
                            <span class="text-uppercase zreport-table-contents">

                            </span>
                        </td>
                        <td class="td-fit-nowrap" style="border: 2px solid black!important">
                            <span class="text-uppercase zreport-table-contents">

                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
