<!-- Content Header (Page header) -->
<div class="content-header d-md-none">
  <div class="d-flex align-items-center">
    <div class="me-auto">
      <h3 class="page-title">{{'litemore.managers.educationSystems.pages.educationSystemsList.educationSystems'|translate}}</h3>
      <div class="d-inline-block align-items-center">
        <nav>
          <ol class="breadcrumb text-dark">
            <li class="breadcrumb-item" aria-current="page">{{'litemore.managers.educationSystems.pages.educationSystemsList.educationSystems'|translate}}</li>
            <li class="breadcrumb-item active" aria-current="page">{{'litemore.managers.educationSystems.pages.educationSystemsList.list'|translate}}</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="d-md-none">
      <button type="button" class="btn btn-success btn-sm pull-right" (click)="clearCache()">
        {{ 'litemore.clearCache' | translate }}
      </button>
    </div>
  </div>
</div>

<!-- Main content -->
<section class="content mt-config">
  <!-- title, search input, clear cache btn -->
  <div class="row">
    <div class="col-12">
      <div class="box">
        <div class="box-header with-border">
          <div class="row justify-content-between align-items-center">
            <!-- header text -->
            <div class="col-12 col-md-6">
              <h4 class="box-title d-none d-md-inline-block">{{'litemore.managers.educationSystems.pages.educationSystemsList.educationSystems'|translate}}</h4>
            </div>

            <div class="col-12 col-md-6 d-md-flex justify-content-end align-items-center">
              <!-- search -->
              <form [formGroup]="searchForm" (ngSubmit)="submitSearchForm()">
                <div class="input-group">
                  <input formControlName="searchTerm" type="text" class="form-control"
                    [placeholder]="'common.searchByName' | translate" />
                  <span class="input-group-text" style="cursor: pointer;" (click)="resetSearchForm()">
                    <i class="fa fa-times"></i>
                  </span>
                </div>
              </form>

              <!-- clear cache -->
              <div class="d-none d-md-inline-block ms-md-10">
                <button type="button" class="btn btn-success btn-sm pull-right no-wrap" (click)="clearCache()">
                  {{ 'litemore.clearCache' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- education systems list -->
  <div class="row">
    <div
      *ngIf="(getEducationSystemsStatus$ | async) === APIStatus.LOADING; then showLoadingSection else showDataSection">
    </div>

    <ng-template #showLoadingSection>
      <!-- For Top Section -->
      <!-- <div class="col-12">
        <div class="box">
          <div class="box-body">
            <app-loader-div [height]="50"></app-loader-div>
          </div>
        </div>
      </div> -->
      <!-- For Middle Section -->
      <div class="col-12">
        <div class="box">
          <div class="box-body">
            <app-loader-div [height]="250"></app-loader-div>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #showDataSection>
      <div class="col-12">
        <div class="box">
          <div class="box-header py-2">
            <div class="d-flex justify-content-between align-items-center">
              <span class="fw-600">{{'litemore.managers.educationSystems.pages.educationSystemsList.manageEducationSystems'|translate}}</span>

              <app-education-system-update-modal [isNewRecord]="true"
                (onUpdateSuccess)="onEducationSystemUpdateSuccess($event)">
              </app-education-system-update-modal>
            </div>
          </div>

          <div *ngIf="dataSource.filteredData.length > 0" class="box-body pt-3">
            <div class="table-responsive">
              <table class="table table-sm table-striped table-bordered">
                <thead>
                  <tr>
                    <th scope="col" class="w-30">#</th>
                    <th scope="col" class="text-uppercase">
                      {{ 'common.name' | translate }}
                    </th>
                    <th scope="col" class="text-uppercase max-w-lg-60 max-w-xl-50">
                      {{ 'common.code' | translate }}
                    </th>
                    <th scope="col" class="text-uppercase">
                      {{ 'litemore.classLabel' | translate }}
                    </th>
                    <th scope="col" class="text-uppercase">
                      {{ 'common.educationSystem.maxClassNumber' | translate }}
                    </th>
                    <th scope="col" colspan="2" class="text-uppercase text-center">
                      {{ 'common.action' | translate }}
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let educationSystem of dataSource?.filteredData; index as index">
                    <th scope="row">{{ index | paginatedListIndex:1 }}</th>
                    <td scope="row">{{ educationSystem.name }}</td>
                    <td scope="row">{{ educationSystem.code }}</td>
                    <td scope="row">{{ educationSystem.classType }}</td>
                    <td scope="row">{{ educationSystem.maxClassNumber }}</td>
                    <td class="text-center">
                      <button
                        [routerLink]="['./' + educationSystem.educationSystemId + '/form-mappings', {max: educationSystem.maxClassNumber}]"
                        type="button" class="waves-effect waves-light btn btn-dark btn-sm">
                        <i class="fa fa-cogs"></i>
                        <span class="ms-1">{{ 'classes.commonAttr.manage' | translate }}</span>
                      </button>
                    </td>
                    <!-- actions -->
                    <td scope="row" class="d-flex justify-content-center">
                      <app-education-system-update-modal [educationSystemItem]="educationSystem"
                        (onUpdateSuccess)="onEducationSystemUpdateSuccess($event)">
                      </app-education-system-update-modal>
                      <button type="button" class="waves-effect waves-light btn btn-danger btn-sm"
                        (click)="confirmEducationSystemDeletion(educationSystem, index)"
                        [disabled]="educationSystem['isDeleting']">
                        <i *ngIf="educationSystem['isDeleting']" class="fa fa-spinner fa-spin"></i>
                        <i *ngIf="!educationSystem['isDeleting']" class="bi bi-trash"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- pagination -->
            <!-- <app-litemore-list-pagination
							[pageInfo]="pageInfo"
							(onPageChange)="onPageChanged($event)">
						</app-litemore-list-pagination> -->
          </div>

          <!-- empty list -->
          <div *ngIf="dataSource?.filteredData?.length === 0" class="box-body text-center">
            <h4>{{ 'common.noResultsFound' | translate }}</h4>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</section>
