.fs-16{
	font-size: 16px;
}

.fixed-top{
	z-index: 5;
}

.nav-link {
	padding: 0.5rem 0.1rem;
}

@media (max-width: 767.98px) {
	.nav-link {
		padding: 0.1rem 1rem;
	}
}

@media (min-width: 1024px) {
	.nav-filled > .nav-link, .nav-filled .nav-item {
		width: fit-content;
		min-width: 155px;
	}
}

@media (min-width: 1100px) {
	.nav-filled > .nav-link, .nav-filled .nav-item {
		width: fit-content;
		min-width: 150px;
	}
}

@media (min-width: 1150px) {
	.nav-filled > .nav-link, .nav-filled .nav-item {
		width: fit-content;
		min-width: 150px;
	}
	.nav-link {
		padding: 0.5rem 1rem;
	}
}

@media (min-width: 1400px) {
	.nav-filled > .nav-link, .nav-filled .nav-item {
		width: fit-content;
		min-width: 175px;
		// background-color: #0c95d4;
	}
}

@media (max-width: 1023.97px) {
	.nav-filled > .nav-link, .nav-filled .nav-item {
		width: 60px;
	}
}

@media (min-width: 1100px) {
	.d-inline-b {
		display: inline-block !important; }
	.d-trs-none {
		display: none !important; }
}

@media (min-width: 1150px) {
	.d-xl-inline-block {
		display: inline-block !important; }
	.d-xl-none {
		display: none !important; }
}
