<div class="row mt-3" *ngIf="projects.length">
	<h5 class="text-uppercase fw-bolder">{{ 'printouts.studentReport.projects' | translate }}</h5>
	<div class="table-responsive" *ngFor="let project of projects">
		<table class="table table-bordered print-table fw-bold" style="font-size: 13px">
			<tbody>
			<tr>
				<td style="width: 20%" [attr.rowspan]="(project.projectResults.length * 3) + 1">
					<div class="text-uppercase text-center">{{ project.subjectName }}</div>
				</td>
			</tr>
			<ng-container *ngFor="let result of project.projectResults">
				<tr class="">
					<td style="width: 15%">
						<div class="text-uppercase">{{ 'printouts.studentReport.projectTitle' | translate }}</div>
					</td>
					<td>{{ result.projectName }}</td>
				</tr>
				<tr>
					<td style="width: 15%">
						<div>{{ 'printouts.studentReport.cbcScore' | translate }}</div>
					</td>
					<td>{{ result.score }}</td>
				</tr>
				<tr>
					<td style="width: 15%">
						<div>{{ 'printouts.studentReport.remarks' | translate }}</div>
					</td>
					<td>
						{{ result.comment }}
					</td>
				</tr>
			</ng-container>

			</tbody>
		</table>
	</div>
</div>
