<ngx-loading-bar color="#55B6E4" height="3px" [includeSpinner]="false"></ngx-loading-bar>

<!-- <ng-container *ngIf="isOutdated">
    <div class="modal fade show" id="staticBackdropLive" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLiveLabel" style="display: block;" aria-modal="true" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLiveLabel">Outdated App</h5>
            </div>
            <div class="modal-body">
              <p>Please update to the most recent version to continue using the App.</p>
            </div>
            <div class="modal-footer">
              <a href="https://play.google.com/store/apps/details?id=ke.co.litemore.zanalytics" class="btn btn-primary pull-right">Update</a>
            </div>
          </div>
        </div>
      </div>

     
</ng-container>

<ng-container *ngIf="!isOutdated">
    <router-outlet></router-outlet>
</ng-container> -->

<router-outlet></router-outlet>