<app-submit-form [formGroup]="filterForm" (onSubmit)="onFilterFormSubmit()">
	<div class="row">
		<!-- region -->
		<div class="form-group col-md-6 col-lg-4">
			<label class="form-label">{{
				"litemore.managers.users.components.usersFilter.region" | translate
			}}</label>
			<ng-select
				[items]="regions"
				placeholder="{{
					'litemore.managers.users.components.usersFilter.selectRegion'
						| translate
				}}"
				formControlName="selectedRegion"
				bindValue="regionId"
				bindLabel="name"
				[loading]="(getRegionsStatus$ | async) === APIStatus.LOADING"
				(change)="onRegionChange($event)">
			</ng-select>
			<app-field-errors
				[control]="selectedRegion!"
				[label]="'Region'"></app-field-errors>
		</div>

		<!-- county -->
		<div class="form-group col-md-6 col-lg-4">
			<label class="form-label">{{
				"litemore.managers.users.components.usersFilter.county" | translate
			}}</label>
			<ng-select
				[items]="counties"
				placeholder="{{
					'litemore.managers.users.components.usersFilter.selectCounty'
						| translate
				}}"
				formControlName="selectedCounty"
				bindValue="countyId"
				bindLabel="name"
				[loading]="(getRegionCountiesStatus$ | async) === APIStatus.LOADING">
			</ng-select>
			<app-field-errors
				[control]="selectedCounty!"
				[label]="
					'litemore.managers.users.components.usersFilter.county' | translate
				"></app-field-errors>
		</div>

		<!-- role -->
		<div class="form-group col-md-6 col-lg-4">
			<label class="form-label">{{
				"litemore.managers.users.components.usersFilter.role" | translate
			}}</label>
			<ng-select
				[items]="roles$ | async"
				placeholder="{{
					'litemore.managers.users.components.usersFilter.selectRole'
						| translate
				}}"
				formControlName="selectedRole"
				bindValue="role"
				bindLabel="name"
				[loading]="(getRolesStatus$ | async) === APIStatus.LOADING">
			</ng-select>
			<app-field-errors
				[control]="selectedRole!"
				[label]="
					'litemore.managers.users.components.usersFilter.role' | translate
				"></app-field-errors>
		</div>
	</div>

	<!-- submit btn -->
	<div class="form-group mb-0 text-end">
		<div class="searchBtn">
			<button class="btn btn-success btn-sm" type="submit">
				{{
					"litemore.managers.users.components.usersFilter.search" | translate
				}}
			</button>
		</div>
	</div>
</app-submit-form>
