<body class="hold-transition sidebar-mini theme-primary fixed" [ngClass]="isChecked ? 'dark-skin' : 'light-skin'">

    <div class="wrapper">

        <app-lit-top-nav></app-lit-top-nav>

        <app-lit-side-nav [networkStatus]="(networkStatus$ | async)"></app-lit-side-nav>

      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <div class="container-full">

          <div class="mt-topNav {{(networkStatus$ | async)? '': 'offline'}}">
            <router-outlet *ngIf="!networkService.isNetworkStopped"></router-outlet>
            <app-connection-lost *ngIf="networkService.isNetworkStopped"></app-connection-lost>
          </div>

          <!-- Bottom Mobile Navbar -->
          <app-lit-mobile-nav></app-lit-mobile-nav>
        </div>
      </div>

      <div class="d-none d-md-block">
        <footer class="main-footer fixed-bottom">
          &copy; {{date | date: 'yyyy'}} <a href="https://www.zeraki.app/" class="text-success">Zeraki</a>. {{ 'common.allRightsReserved' | translate }}.
        </footer>
      </div>
    </div>
  </body>
