.fixed-top{
  z-index: 5;
}

@media (max-width: 767.98px) {
  .nav-link {
      padding: 0.1rem 1rem;
  }
}

@media (min-width: 1024px) {
  .nav-filled > .nav-link, .nav-filled .nav-item {
      width: 190px;
  }
}

@media (max-width: 1023.97px) {
  .nav-filled > .nav-link, .nav-filled .nav-item {
      width: auto;
  }
}
