<ng-container *ngIf="isLoadingStudentList; else loadingComplete">
	<div class="box-body">
		<div class="row">
			<div class="col-12">
				<app-loader-div [height]="150"></app-loader-div>
			</div>
		</div>
	</div>
</ng-container>

<ng-template #loadingComplete>
	<div *ngIf="nonClassMembers.length > 0; else noStudentsFound" class="box-body">
		<div class="table-responsive">
			<table class="table table-sm table-striped table-bordered mb-0">
				<thead>
					<tr>
						<th scope="col" style="width: 10%;">#</th>
						<th scope="col" style="width: 15%;">{{ 'classes.manageSubject.table.admNo' | translate }}</th>
						<th scope="col">{{ 'classes.manageSubject.table.name' | translate }}</th>
						<th class="text-center" style="width: 5%">
							<input type="checkbox" id="addon_Checkbox_1" (click)="toggleAllStudents()" class="filled-in chk-col-info">
							<label for="addon_Checkbox_1" style="padding-left: 20px;height: 17px;"></label>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let stud of nonClassMembers; index as i">
						<th scope="row">{{ i + 1 }}</th>
						<td>{{ stud.admno }}</td>
						<td>{{ stud.name }}</td>
						<td class="text-center">
							<input type="checkbox" [id]="stud.userid" class="filled-in chk-col-info" [checked]="stud.add"
								(change)="selectStudent(stud, $event)">
							<label [for]="stud.userid" style="padding-left: 20px;height: 17px;"></label>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="mt-20">
			<span>
				<button type="button" (click)="goBack()" class="waves-effect waves-light btn btn-secondary btn-sm">
					<i>
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							class="bi bi-arrow-left-short" viewBox="0 0 16 16">
							<path fill-rule="evenodd"
								d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z" />
						</svg>
					</i>
					{{ 'classes.commonAttr.back' | translate }}
				</button>

				<button type="button" (click)="addStudentsConfirmation()"
					class="waves-effect waves-light btn btn-info btn-sm pull-right">
					{{ 'classes.manageSubject.table.addSelectedStudents' | translate }}
				</button>
			</span>
		</div>
	</div>

	<ng-template #noStudentsFound>
		<div class="box-body">
			{{ 'classes.commonAttr.noStudentsFound' | translate }}
		</div>
	</ng-template>
</ng-template>
