<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div class="box-header hbuilt">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-0">Preview Proforma</p>
                    </div>
                    <div class="col-sm-6 text-end">
                        <button class="btn btn-xs btn-success" (click)="closePrintPreview()">Close</button>
                    </div>
                </div>

            </div>
            <div class="box-body">
                <div class="d-flex justify-content-between">
                    <button class="btn btn-secondary btn-sm waves-effect waves-light mb-10"
                            (click)="downloadAsPdf()">Download Pdf</button>
                </div>
                <!--invoice view-->
                <!--=======================================-->
                <div style="overflow-x: auto">
                    <pdf-viewer
                            id="displayZone"
                            [src]="pdfSrc"
                            [rotation]="0"
                            [original-size]="false"
                            [show-all]="true"
                            [fit-to-page]="false"
                            [zoom]="1"
                            [zoom-scale]="'page-width'"
                            [stick-to-page]="false"
                            [render-text]="true"
                            [external-link-target]="'blank'"
                            [autoresize]="true"
                            [show-borders]="false"
                            style="min-width:400px; width: 100%; height: 100vh;"
                    ></pdf-viewer>
                </div>

            </div>
        </div>
    </div>
</div>
