<div class="row">
    <div class="col-sm-12">
        <div class="box">
            <div *ngIf="!schoolDisplayInvoice" class="box-header hbuilt">
                <div class="row">
                    <div class="col-sm-6">
                        <p class="mb-0">{{invoices.proformaNumber}}
							:
							{{'litemore.bdevs.invoices.invoice.components.invoicePrintPreview.previewInvoice'|translate}}
						</p>
                    </div>
                    <div class="col-sm-6 text-end">
                        <button class="btn btn-xs btn-success" (click)="closePrintPreview()">
							{{'litemore.bdevs.invoices.invoice.components.invoicePrintPreview.close'|translate}}
						</button>
                    </div>
                </div>

            </div>
            <div class="box-body">
                <div *ngIf="!schoolDisplayInvoice" style="display: flex; justify-content:space-between">
                    <button *ngIf="!listCollections" class="btn btn-secondary btn-sm waves-effect waves-light mb-10"
                            (click)="downloadAsPdf()">
						{{'litemore.bdevs.invoices.invoice.components.invoicePrintPreview.downloadPdf'|translate}}
					</button>

                    <button class="btn btn-secondary btn-sm waves-effect waves-light mb-10" (click)="toggleCollectionView()">
                        <span *ngIf="!listCollections">{{'litemore.bdevs.invoices.invoice.components.invoicePrintPreview.manageCollections'|translate}}</span>
                        <span *ngIf="listCollections">{{'litemore.bdevs.invoices.invoice.components.invoicePrintPreview.hideCollections'|translate}}</span>
                    </button>
                </div>

                <div *ngIf="schoolDisplayInvoice" style="display: flex; justify-content:space-between">
                    <button *ngIf="!listCollections" class="btn btn-secondary btn-sm waves-effect waves-light mb-10"
                            (click)="closePrintPreview()">{{ 'invoice.invoice.backBtn' | translate }}</button>

                    <button class="btn btn-dark btn-sm waves-effect waves-light mb-10" (click)="downloadAsPdf()">
						{{'litemore.bdevs.invoices.invoice.components.invoicePrintPreview.downloadPdf'|translate}}
                    </button>
                </div>
                <!--invoice view-->
                <!--=======================================-->
                <div *ngIf="!listCollections" style="overflow-x: auto">
                    <pdf-viewer
                            id="displayZone"
                            [src]="pdfSrc"
                            [rotation]="0"
                            [original-size]="false"
                            [show-all]="true"
                            [fit-to-page]="false"
                            [zoom]="1"
                            [zoom-scale]="'page-width'"
                            [stick-to-page]="false"
                            [render-text]="true"
                            [external-link-target]="'blank'"
                            [autoresize]="true"
                            [show-borders]="false"
                            style="min-width:400px; width: 100%; height: 100vh;"
                    ></pdf-viewer>
                </div>

                <div *ngIf="listCollections">
                    <app-manage-invoice-collections
                            [invoice]="selectedInvoice"
                            [userInit]="userInit"
                            [schoolInfo]="schoolInfo">
                    </app-manage-invoice-collections>
                </div>

            </div>
        </div>
    </div>
</div>
