<div class="navbar-light top-wrapper fixed-top bg-primary">
    <ul class="nav nav-pill customtab2 nav-filled text-center">
        <li class="nav-item">
            <a class="nav-link active" style="cursor: pointer;" routerLinkActive="active">
                <span class="me-2">
                    <i class="fa fa-cog"></i>
                </span>
                <span>{{ "changePassword.topNav.changePassword" | translate }}</span>
                <!-- <span class="hidden-sm-up">Manage<br/> Classes</span> -->
            </a>
        </li>
    </ul>
</div>