<div class="text-center text-fade d-flex flex-column align-items-center p-4" style="margin: 64px 0;">
    <ng-container *ngIf="data; else loader">
        <ng-container *ngIf="data?.hasError; else noData">
            <div class="text-danger">
                <span class="avatar avatar-xl rounded d-flex align-items-center justify-content-center">
                    <i class="icon-Error-circle fs-48">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                        <span class="path5"></span>
                        <span class="path6"></span>
                        <span class="path7"></span>
                        <span class="path8"></span>
                    </i>
                </span>
            </div>
            {{data.error}}
            <button (click)="retryFailedRequest()" class="btn btn-sm btn-primary mt-4 waves-effect">RETRY</button>
        </ng-container>
        <ng-template #noData>
            <div class="mb-2">
                <span class="avatar avatar-xl rounded d-flex align-items-center justify-content-center">
                    <i class="icon-File fs-48">
                        <span class="path1"></span>
                        <span class="path2"></span>
                        <span class="path3"></span>
                        <span class="path4"></span>
                        <span class="path5"></span>
                        <span class="path6"></span>
                        <span class="path7"></span>
                        <span class="path8"></span>
                    </i>
                </span>
            </div>
            <ng-content></ng-content>
        </ng-template>
    </ng-container>
</div>
<ng-template #loader>
    <div class="text-primary spinner-border me-2" role="status" style="max-width: 18px; max-height: 18px;"></div>
    <!-- <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-body">
                    <app-loader-div [height]="100"></app-loader-div>
                </div>
            </div>
        </div>
    </div> -->
</ng-template>