        <!-- Micro payment summary info -->
        <div class="d-flex justify-content-center shadow-sm py-2 px-3 bg-body rounded mx-2 d-lg-none"
            style="font-size: 0.7em;">
            <div class="mx-2" style="white-space: nowrap;">
                <div>Term 1 Payment Plan</div>
                <div>5th January - 20th April</div>
            </div>
            <div class="mx-2 text-success border-start ps-2" style="white-space: nowrap;">
                <div>Next Payment</div>
                <div>24th February</div>
            </div>
            <div class="mx-2 text-success border-start ps-2" style="white-space: nowrap;">
                <div>Payment Amount</div>
                <div>4,000</div>
            </div>
        </div>
        <div class="box-header without-border pb-4">
            <app-svg-collection [svgType]="'micropayments'"></app-svg-collection><span
                class="box-title text-muted">Micro Payments</span>
            <!-- Large screen -->
            <div class="box-controls screen-size-xl pull-right">
                <div class="row">
                    <div class="col d-flex shadow py-2 px-3 bg-body rounded mx-2" style="min-width: 15em;">
                        <div class="me-15 bg-danger-light h-40 w-40 l-h-50 rounded text-center">
                            <span class="icon-Up-right fs-20"><span class="path1"></span><span
                                    class="path2"></span></span>
                        </div>
                        <div style="white-space: nowrap;">
                            <div>Expected Amount</div>
                            <div>35,000</div>
                        </div>
                    </div>
                    <div class="col d-flex shadow py-2 px-3 bg-body rounded mx-2" style="min-width: 15em;">
                        <div class="me-15 icon-light-green h-40 w-40 l-h-50 rounded text-center">
                            <span class="icon-Down-left fs-20"><span class="path1"></span><span
                                    class="path2"></span></span>
                        </div>
                        <div style="white-space: nowrap;">
                            <div>Paid</div>
                            <div>20,000</div>
                        </div>
                    </div>
                    <div class="col d-flex shadow py-2 px-3 bg-body rounded mx-2" style="min-width: 15em;">
                        <div class="me-15 bg-info-light h-40 w-40 l-h-50 rounded text-center">
                            <span class="icon-Wallet2 fs-20"><span class="path1"></span><span class="path2"></span><span
                                    class="path3"></span></span>
                        </div>
                        <div style="white-space: nowrap;">
                            <div>Balance</div>
                            <div>15,000</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Medium Screen -->
            <div class="screen-size-lg">
                <div class="row">
                    <div class="col d-flex shadow py-2 px-3 bg-body rounded mx-2" style="min-width: 15em;">
                        <div class="me-15 bg-danger-light h-40 w-40 l-h-50 rounded text-center">
                            <span class="icon-Up-right fs-20"><span class="path1"></span><span
                                    class="path2"></span></span>
                        </div>
                        <div style="white-space: nowrap;">
                            <div>Expected Amount</div>
                            <div>35,000</div>
                        </div>
                    </div>
                    <div class="col d-flex shadow py-2 px-3 bg-body rounded mx-2" style="min-width: 15em;">
                        <div class="me-15 icon-light-green h-40 w-40 l-h-50 rounded text-center">
                            <span class="icon-Down-left fs-20"><span class="path1"></span><span
                                    class="path2"></span></span>
                        </div>
                        <div style="white-space: nowrap;">
                            <div>Paid</div>
                            <div>20,000</div>
                        </div>
                    </div>
                    <div class="col d-flex shadow py-2 px-3 bg-body rounded mx-2" style="min-width: 15em;">
                        <div class="me-15 bg-info-light h-40 w-40 l-h-50 rounded text-center">
                            <span class="icon-Wallet2 fs-20"><span class="path1"></span><span class="path2"></span><span
                                    class="path3"></span></span>
                        </div>
                        <div style="white-space: nowrap;">
                            <div>Balance</div>
                            <div>15,000</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- small screen -->
            <div class="screen-size-sm">
                <div class="d-flex justify-content-center">
                    <div class="d-flex shadow-sm py-2 px-2 bg-body rounded mx-1" style="min-width: 5.5rem;">
                        <div class="me-5 bg-danger-light h-20 w-20 l-h-34 rounded text-center">
                            <span class="icon-Up-right fs-20"><span class="path1"></span><span
                                    class="path2"></span></span>
                        </div>
                        <div style="font-size: 0.65em; white-space: nowrap;">
                            <div>Expected Amount</div>
                            <div>35,000</div>
                        </div>
                    </div>
                    <div class="d-flex shadow-sm py-2 px-2 bg-body rounded mx-1" style="min-width: 5.5rem;">
                        <div class="me-5 icon-light-green h-20 w-20 l-h-34 rounded text-center">
                            <span class="icon-Down-left fs-20"><span class="path1"></span><span
                                    class="path2"></span></span>
                        </div>
                        <div style="font-size: 0.65em; white-space: nowrap;">
                            <div>Paid</div>
                            <div>20,000</div>
                        </div>
                    </div>
                    <div class="d-flex shadow-sm py-2 px-2 bg-body rounded mx-1" style="min-width: 5.5rem;">
                        <div class="me-5 bg-info-light h-20 w-20 l-h-34 rounded text-center">
                            <span class="icon-Wallet2 fs-20"><span class="path1"></span><span class="path2"></span><span
                                    class="path3"></span></span>
                        </div>
                        <div style="font-size: 0.65em; white-space: nowrap;">
                            <div>Balance</div>
                            <div>15,000</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-body py-10">
            <div class="pt-5 pb-2" style="white-space: nowrap;">
                <div>Term 1</div>
                <div class="text-muted">5th January - 20th April</div>
            </div>
            <p *ngIf="!micropayments || micropayments.length == 0">
                No payments present
            </p>
            <div *ngIf="(micropayments && micropayments.length > 0)" class="table-responsive">
                <table class="table table-striped table-hover mb-0">
                    <thead>
                        <tr>
                            <td>Payment</td>
                            <td>Scheduled Payment Date</td>
                            <td>Payment Amount</td>
                            <td>Payment Status</td>
                            <td>Payment Date</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let payment of micropayments; index as i">
                            <td>{{i + 1}}</td>
                            <td>{{payment.scheduledPaymentDate | date: 'mediumDate'}}</td>
                            <td>{{payment.amount }}</td>
                            <td>
                                <span *ngIf="payment.paymentStatus == 'Paid'">{{ payment.paymentStatus }}</span>
                                <span *ngIf="payment.paymentStatus == 'Overdue'" class="text-danger">{{
                                    payment.paymentStatus }}</span>
                            </td>
                            <td>
                                <span *ngIf="payment?.paymentDate">{{ payment.paymentDate | date: 'mediumDate'}}</span>
                                <span *ngIf="payment.nextPayment && (stkData$ | async)?.list?.length > 0"
                                    style="cursor: pointer;" class="badge badge-success" data-bs-toggle="modal"
                                    data-bs-target="#add-payment" (click)="initPayment()">
                                    Make Payment
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>