<div class="splashBody">
    <div class="color-line"></div>
    <div class="splashCentre">
        <div class="mb-70 pb-50 title-anim">
            <h1>Zeraki Analytics</h1>
        </div>
        <div class="loader align-self-center pt-5">
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__bar"></div>
            <div class="loader__ball"></div>
        </div>
    </div>
</div>