<!-- Content Header (Page header) -->
<div class="content-header d-sm-none">
  <div class="d-flex align-items-center">
    <div class="me-auto">
      <h3 class="page-title">{{ 'litemore.zlCreds.title' | translate }}</h3>
      <div class="d-none align-items-center">
        <nav>
          <ol class="breadcrumb text-dark">
            <li class="breadcrumb-item" aria-current="page">{{ 'litemore.zlCreds.title' | translate }}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<!-- Main content -->
<section class="content mt-config">
  <div class="row">
    <div *ngIf="zlCredentialListLoading; then showLoadingSection else showDataSection"></div>
  </div>
</section>

<!-- loading section -->
<ng-template #showLoadingSection>
  <div class="row">
    <div class="col-12">
      <div class="box">
        <div class="box-body">
          <app-loader-div [height]="50"></app-loader-div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="box">
        <div class="box-body">
          <app-loader-div [height]="250"></app-loader-div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<!-- data section -->
<ng-template #showDataSection>
  <div class="col-12">
    <div class="box">
      <div class="box-header with-border">
        <h4 class="box-title d-none d-sm-inline-block">{{ 'litemore.zlCreds.title' | translate }}</h4>

        <div class="mt-2">
          <div class="row justify-content-between">
            <!-- excel download btn -->
            <div class="col-12 col-sm-4 col-md-6 col-lg-8 mb-3 mb-sm-0">
              <button type="button" class="btn btn-primary btn-sm" [disabled]="isGeneratingExcel" (click)="downloadExcel()">
                <i [class]="isGeneratingExcel ? 'fa fa-spinner fa-spin' : 'fa fa-file-excel-o'"></i>
                <span class="ms-2">{{ 'common.downloadExcel' | translate }}</span>
              </button>
            </div>

            <!-- search input -->
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
              <form [formGroup]="searchForm" (ngSubmit)="submitSearchForm()">
                <div class="input-group">
                  <input formControlName="schoolName" type="text" class="form-control ps-15"
                    [placeholder]="'litemore.zlCreds.searchForm.placeholder' | translate" />
                  <span class="input-group-text" style="cursor: pointer;" (click)="resetSearchForm()">
                    <i class="fa fa-times"></i>
                  </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="box">
        <div *ngIf="dataSource.filteredData.length == 0" class="box-body text-center">
          <h4>{{ 'litemore.zlCreds.emptyList' | translate }}</h4>
        </div>

        <div *ngIf="dataSource.filteredData.length > 0" class="box-body">
          <div class="table-responsive">
            <table class="table table-sm table-striped table-bordered">
              <thead>
                <tr>
                  <th scope="col" style="min-width: 50px;">#</th>
                  <th scope="col" class="text-uppercase" style="min-width: 100px;">
                    {{ 'common.school' | translate }}
                  </th>
                  <th scope="col" class="text-uppercase" style="min-width: 125px;">
                    {{ 'common.registration' | translate }}
                  </th>
                  <th scope="col" class="text-uppercase" style="min-width: 125px;">
                    {{ 'common.county' | translate }}
                  </th>
                  <th scope="col" class="text-uppercase" style="min-width: 125px;">
                    {{ 'common.region' | translate }}
                  </th>
                  <th scope="col" class="text-uppercase" style="min-width: 125px;">
                    {{ 'common.students' | translate }}
                  </th>
                  <th scope="col" class="text-uppercase" style="min-width: 125px;">
                    {{ 'litemore.zlCreds.tableHeaders.sentCreds' | translate }}
                  </th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let school of dataSource?.filteredData; first as isFirst; index as i">
                  <td>{{ school.displayId }}</td>
                  <td>{{ school.schoolName }}</td>
                  <td>{{ school.registration }}</td>
                  <td>{{ school.county }}</td>
                  <td>{{ school.region }}</td>
                  <td>{{ school.totalStudents | number }}</td>
                  <td>{{ school.sentCredentials | number }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- pagination -->
          <!-- TODO: move to shared module and reuse -->
          <span *ngIf="totalPages > 0">
            <ul class="pagination pagination-sm pull-right mb-0">
              <li class="page-item text-sm mt-1 me-2">
                {{ 'common.paginationInfo' | translate:{ currentPage, totalPages } }}
              </li>
              <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
                <a (click)="retrievePageResults(currentPage - 1)" class="page-link" aria-label="Previous">
                  <i class="fa fa-arrow-left"></i>
                </a>
              </li>
              <li class="page-item" [ngClass]="{'disabled': currentPage === totalPages}">
                <a (click)="retrievePageResults(currentPage + 1)" class="page-link" aria-label="Next">
                  <i class="fa fa-arrow-right"></i>
                </a>
              </li>
            </ul>
          </span>
        </div>
      </div>
    </div>
  </div>
</ng-template>
